<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>{% block title %}Indústrias Wayne{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Indústrias Wayne</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/resources/equipments">Equipamentos</a>
        <a href="/resources/vehicles">Veículos</a>
        <a href="/resources/devices">Dispositivos</a>
        <a href="/logout">Sair</a>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2024 Indústrias Wayne. Todos os direitos reservados.</p>
    </footer>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FastAPI App</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/script.js" defer></script>
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="brand">FastAPI App</a>
      <div class="menu">
        <a href="/login">Login</a>
        <a href="/">Home</a>
        <a href="/admin-only">Admin</a>
        <a href="/manager-or-above">Manager</a>
        <a href="/ceo-and-security-admin">CEO/Security</a>
        <a href="/resources">Resources</a>
      </div>
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
