<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painel de Segurança</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Painel de Segurança</h1>
    </header>
    <main>
      <p>
        Bem-vindo ao painel exclusivo para CEO e Administradores de Segurança!
      </p>
      <a href="./home.html">Voltar ao Home</a>
    </main>
  </body>
</html>
