<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <div class="home-container">
      <h1>Bem-vindo(a)!</h1>
      <div id="user-info">
        <!-- Informações do usuário (serão preenchidas por JS) -->
        <p>Usuário: <span id="username-display"></span></p>
        <p>Cargo: <span id="role-display"></span></p>
      </div>

      <div class="dashboard-container">
        <h2>Dashboard</h2>

        <div class="dashboard-section">
          <h3>Total de Usuários por Cargo</h3>
          <div id="total-users" class="data-cards">
            <!-- Cartões de usuários por cargo (serão preenchidos por JS) -->
          </div>
        </div>

        <div class="dashboard-section">
          <h3>Total de Equipamentos</h3>
          <div id="total-equipments" class="data-card"></div>
        </div>

        <div class="dashboard-section">
          <h3>Total de Veículos</h3>
          <div id="total-vehicles" class="data-card"></div>
        </div>

        <div class="dashboard-section">
          <h3>Total de Dispositivos</h3>
          <div id="total-devices" class="data-card"></div>
        </div>

        <div class="dashboard-section">
          <h3>Usuários Recentes</h3>
          <div id="recent-users" class="data-cards">
            <!-- Cartões de usuários recentes (serão preenchidos por JS) -->
          </div>
        </div>
        <div class="dashboard-section">
          <h3>Equipamentos Recentes</h3>
          <div id="recent-equipments" class="data-cards">
            <!-- Cartões de equipamentos recentes (serão preenchidos por JS) -->
          </div>
        </div>
      </div>

      <div class="navigation-buttons">
        <button id="admin-button">Administração</button>
        <button id="ceo-security-admin-button">Segurança</button>
        <button id="manager-button">Gerencial</button>
        <button id="resources-button">Recursos</button>
      </div>
      <button id="logout-button">Sair</button>
    </div>
    <script src="../js/home.js"></script>
  </body>
</html>
