/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1c1c1c, #3e3e3e);
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contêiner principal */
.home-container {
  background: #444;
  padding: 30px 40px;
  border: 2px solid #555;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 800px; /* Aumentei para visualizar melhor */
  max-height: 90vh;
  overflow-y: auto; /* Adicionei para tornar rolável */
}

/* Título principal */
.home-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #f5d142;
}

/* Informações do usuário */
#user-info {
  margin-bottom: 20px;
  text-align: left;
  padding-left: 10px;
}

#user-info p {
  margin: 10px 0;
  font-size: 1.2em;
  color: #f5f5f5;
}

#user-info span {
  font-weight: bold;
  color: #f5d142;
}

/* Contêiner do dashboard */
.dashboard-container {
  margin-top: 30px;
}

.dashboard-section {
  margin-bottom: 25px;
  padding: 10px;
}

.dashboard-section h3 {
  font-size: 1.6em;
  color: #f5d142;
  margin-bottom: 15px;
}

/* Cartões de dados */
.data-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Alinha os cards a esquerda */
}

.data-card {
  background: #555;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%; /* Garante que ocupe toda a largura do contêiner pai */
  max-width: 180px; /* Define um tamanho máximo para os cartões */
  text-align: center;
}
.data-card h4 {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #f5f5f5;
}

.data-card p {
  font-size: 1.8em; /* Ajustei o tamanho da fonte */
  font-weight: bold;
  color: #f5d142;
}
.data-card .description {
  font-size: 1em;
  color: #f5f5f5;
}

/* Botões de navegação */
.navigation-buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 20px;
}

.navigation-buttons button {
  background: #444;
  border: 2px solid #555;
  color: #f5f5f5;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.navigation-buttons button:hover {
  transform: scale(1.05);
  background: #f5d142;
  color: #333;
}

/* Botão de logout */
#logout-button {
  background: #555;
  border: 2px solid #777;
  color: #f5f5f5;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  width: 100%;
}

#logout-button:hover {
  transform: scale(1.05);
  background: #f53e42;
  color: #fff;
}
