body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #1a1a1a, #0d0d0d);
  color: #f5f5f5;
  overflow: hidden;
}

header {
  padding: 40px 0;
  text-align: center;
  background: linear-gradient(to right, #000000, #434343);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

header h1 {
  font-size: 3em;
  margin: 0;
  color: #f5d142;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

header p {
  margin: 10px 0 0;
  font-size: 1.2em;
  color: #d9d9d9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 120px);
  padding: 20px;
}

.login-section h2 {
  font-size: 2.5em;
  color: #f5d142;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#loginForm label {
  font-size: 1.2em;
  color: #f5f5f5;
  display: block;
  margin-bottom: 10px;
}

#loginForm {
  width: 90%; /* Ajuste para ocupar menos espaço e garantir margem */
  max-width: 400px; /* Limita o tamanho máximo */
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  /* margin: auto;  */
}

#loginForm input {
  width: calc(100% - 20px); /* Deixa espaço suficiente com base no padding */
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #f5f5f5;
  font-size: 1em;
  box-sizing: border-box; /* Garante que padding seja incluído na largura */
}

#loginForm button {
  width: 100%; /* Garante que o botão ocupe toda a largura do container pai */
  padding: 10px;
  background: #f5d142;
  color: #333;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

#loginForm button:hover {
  background: #f7e678;
  transform: scale(1.05);
}

.error-message {
  color: #ff4d4d;
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
}

.dashboard.hidden {
  display: none;
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.dashboard h2 {
  text-align: center;
  color: #f5d142;
  margin-bottom: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  min-width: 15%;
  margin: 1rem;
}

.dashboard p {
  text-align: center;
  margin-bottom: 30px;
  color: #d9d9d9;
}

.dashboard-cards {
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  flex-wrap: wrap; /* Permite quebra de linha */
  gap: 1rem; /* Espaçamento entre os cards */
  padding: 1rem;
  width: 100%; /* Garante que ocupe toda a largura do container */
  min-height: 50vh; /* Define uma altura mínima para centralizar */
  margin: auto; /* Centraliza no eixo vertical quando combinado com flex */
  background: #333;
  color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card {
  display: flex;
  flex-direction: column; /* Alinha os itens verticalmente */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  background: #444; /* Mantém o fundo do card */
  border-radius: 10px;
  padding: 1rem;
  width: 200px; /* Tamanho fixo para uniformidade */
  height: 100px; /* Tamanho fixo para uniformidade */
  text-align: center; /* Alinha o texto */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(219, 205, 12, 0.7);
}

.card a {
  text-decoration: none;
  color: #f5d142;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  text-align: center; /* Alinha o texto no centro */
  width: 100%; /* Garante que o link ocupe todo o espaço disponível */
  line-height: 1.5; /* Ajusta o espaçamento entre linhas */
}

.card a:hover {
  color: #f7e678;
}

#logoutButton {
  background: #f5d142;
  color: #333;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  margin-top: 20px;
}

#logoutButton:hover {
  background: #f7e678;
  transform: scale(1.05);
}
