{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<h2>Login</h2>
<form id="login-form">
  <label for="username">Usuário:</label>
  <input type="text" id="username" name="username" required />
  <label for="password">Senha:</label>
  <input type="password" id="password" name="password" required />
  <button type="submit">Entrar</button>
</form>
<div id="login-response"></div>

<script>
  const form = document.getElementById("login-form");
  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;

    const response = await fetch("/users/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
      body: `username=${encodeURIComponent(
        username
      )}&password=${encodeURIComponent(password)}`,
    });

    const result = await response.json();
    const loginResponse = document.getElementById("login-response");

    if (response.ok) {
      localStorage.setItem("token", result.access_token); // Salva o token no localStorage
      loginResponse.innerHTML = `<p style="color: green;">Login realizado com sucesso!</p>`;
      window.location.href = "/dashboard-data"; // Redireciona para o dashboard
    } else {
      loginResponse.innerHTML = `<p style="color: red;">Erro: ${result.detail}</p>`;
    }
  });
</script>
{% endblock %}
